---
import Layout from '../layouts/Layout.astro';

const title = "About";
const link = "/";
const textLink = "Ke halaman Home";
---

<Layout title={title} link={link} textLink={textLink}>
    <h1>Jais</h1>
    <a href={link}>{textLink}</a>
</Layout>